{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% extends _entity_config.templates.layout %}

{% block content_title %}
    {{ _entity_config.name }}
{% endblock %}

{% block main %}
    <form action="/admin/" method="GET">
        <input type="hidden" name="entity" value="Configuration"/>
        <input type="hidden" name="action" value="save"/>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            Ценообразование
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="profit">Маржинальность</label>
                            <input type="text" class="form-control" name="profit" id="profit" value="{{ list.profit is defined ? list.profit : '' }}"/>
                        </div>
                        <div class="form-group">
                            <label for="profit">Стоп тег-слова</label>
                            <input type="text" class="form-control" name="stop_tag" id="stop_tag" value="{{ list.stop_tag is defined ? list.stop_tag : '' }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            Теги
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="profit">Тег аромата</label>
                            <select class="form-control" name="fragrance_tag">
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}" {{ list.fragrance_tag is defined and list.fragrance_tag == tag.id ? 'selected' : '' }}>{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="profit">Тег бренда</label>
                            <select class="form-control" name="brand_tag">
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}" {{ list.brand_tag is defined and list.brand_tag == tag.id ? 'selected' : '' }}>{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
{% endblock main %}
