{% block _items_custom_title_widget %}
    {% spaceless %}
        <div class="easyadmin-vich-file">
            {% if download_uri|default('') is not empty %}
                {% set download_title = download_uri|split('/')|last ?: 'download'|trans({}, 'VichUploaderBundle') %}
                <a href="{{ asset(download_uri) }}">{{ download_title }}</a>
            {% endif %}

            {% for key, image in form.vars.data %}
                <img src="/uploads/images/products/{{ image.path }}" width="100"/>
            {% endfor %}

            <div class="row">
                {% if form.delete is defined %}
                    <div class="col-sm-3 col-md-2">
                        {{ form_row(form.delete, { label: 'form.label.delete' }) }}
                    </div>
                {% endif %}
                <div class="{{ form.delete is defined ? 'col-sm-9 col-md-10' : 'col-sm-12' }}">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}